.footer-container{
   /* background-color: #00606E; */
   background-color: #04282e;
}
.footer-item-container{
    color:rgb(227, 222, 222);
    display:flex;
    margin-left: 100px;

}
.footer-item{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 15px;
   
}
.footer-item-details{
    font-size: small;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #696868;
}
.footer-title{
    font-family: roboto;
    font-size: medium;
    
}